################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UglyChinook/v15
/UglyChinook/Album.cs
